@CHARSET "UTF-8";
.header {
  background: linear-gradient(#323280, #1b75bb,#26a9e0);
}

.header img {
  width: 300px;
  margin: 30px 30px 30px 100px;
}

.search {
  margin: 0 auto;
  padding: 50px 100px 100px 100px;;
}

#search-input {
  width: 50%;
  margin-top: 20px;
}

#search-button {
  margin-top: 20px;
}

#table-head {
  font-weight: bold;
  background: #e3e6ff;
}

.result table {
  margin: 0 auto;
  text-align: center;
}

.result td {
  padding: 10px;
}
